.test-box {
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    padding: 5px;
    background-color: #ddd;
    flex: auto;
}

header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.col-container {

    display: flex;
    width: 100%
}

.col {

    flex: 1;

}

strong {
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.row {
    display: flex;
}

.column-container {

    display: table;

}

.column {

    display: table-cell;
    flex: 1;
    padding: 5px;

}

section {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

nav {

    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    background-color: #ddd;
}

/* cascading */
nav ul {
    list-style-type: none;
    padding: 0px;
}

/* cascading */
nav ol {
    list-style-type: circle;
    padding-left: 20px;
}

footer {
    background-color: #777;
    padding: 20px;
    text-align: center;
    color: white;
}

@media (max-width: auto) {
    .section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .column {
        display: block;
        width: 100%;
      }
}